@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  display: flex;
  align-items: canter;
  justify-content: space-around;
  margin-bottom: 15px;
}
form{
  padding-top: 15px;
}
.albumID {
  text-align: center;
}

.card{
  float: left;
  max-width: 55%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 200px;
  height: 250px;
  margin: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 20px;
  margin-right: 10px;
}


.title{
  margin: 20px 0;
}

.title h2 {
  font-size: 22px;
}

 p{
  color: red;
  font-size: 18px;
  margin-bottom: 20px;
  
}



